body {
  background-color: #e0ffff;
  color: #363E66; /* For some reason, this shows up as black in the browser even though it's supposed to be navy */
  font-size: 16px;
  line-height: 1.5;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link { color:#ffffff; } /* unvisited */
a:visited { color:#0070BA; } /* visited */
a:hover { color:#0070BB; } /* mouse over */
a:active { color:#0070BD; } /* selected */